# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.bat
dreampi.py
releases/
versions/
tunnel/errors_dumps/
connector_send_rcv.py
sip_ring.py
xband_config.py
ring_test.bat
functionality_tests/logs/